/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

@font-face
{
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: bold;
    src: url('font/OpenSans-ExtraBold.ttf');
}

body {
  background-color: #e0dacd;
}

#world {
  background: #e0dacd;
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
}
#instructions{
  position:absolute;
  width:100%;
  top:55%;
  margin-top:50px;
  font-family:'Open Sans', sans-serif;
  color:#b75505;
  font-size: 3rem;
  text-align : center;
}

#credits{
  position:absolute;
  width:100%;
  margin: auto;
  bottom:0;
  margin-bottom:20px;
  font-family:'Open Sans', sans-serif;
  color:#b59b63;
  font-size:0.7em;
  text-transform: uppercase;
  text-align : center;
}
#credits a {
  color:#b59b63;
}

.bg {
  z-index: -1;
}

#textContent {
  background: transparent;
  position: absolute;
  top: 67%;
  z-index: 2;
  color:#b59b63;
  font-size:2.0rem;
  font-family: "Playfair Display";
  font-weight: 600;
  max-width: 100vw;
  padding: 0 20%;
  line-height: 3rem;
  text-align: center;
}

@media screen and (min-width: 1500px) {
  #textContent {
    padding: 0 31%;
  }
}

@media screen and (max-width: 800px) {
  #textContent {
    padding: 0 10%;
  }
}